.menu-top{
    background-color: #71BA51;
}
.formtimkiem button{
    background-color: rgb(221, 62, 62);
    color: white;
}
.formtimkiem button:hover{
    background-color: rgb(20, 66, 215);
    color: rgb(226, 112, 112);
}
.text-menu-top{
    color: rgb(255, 255, 255);
}
.text-menu-top:hover{
    color: yellow;
}
.footer{
    background:#71BA51;
    height: 250px;
}
.footer ul li a, p{
    color: white;
    font-weight: 600;
}
.footer ul{
    margin-bottom: 20px;
    list-style-type: none;
}
.footer ul li{

    margin-bottom: 20px;
    
}
.footer ul li a{
    text-decoration: none;    
}